@import url("https://fonts.googlepis.com/css?family=Lora");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
  font-family: Lora, sans-serif;
  font-size: 18px;
  margin: 0px;
}

h1,h2,h3 {
  font-family: Arial, sans-serif;
  font-weight: blod;
}

a {
  text-decoration: none;
}

.form {
  height: 400px;
  position: relative;
}
